<div class="app-datatable-container">
    <app-datatable 
        class="app-datatable"
        [checkboxSelection]="true"
        [filter]="dataTableFilterType.Column"
        [columnResponsive]="true"
        [data]="data"
        [dataLoadingPattern]="dataTableLoadingPattern.VirtualScrolling"
        [filterTextLimit]="50"
        [header]="header"
        [height]="'400px'"
        [headerStyle]="headerStyle"
        id="module-datatable-index"
        [pagination]="paginationData"
        [popup]="popupData"
        [rowStyle]="rowStyle"
        [toolbar]="toolbarData"
        [virtualScrolling]="virtualScrollingData">
    </app-datatable>
</div>