$arrow-background-color: grey;
$arrow-height: 20px;
$arrow-width: 250px;

@mixin arrowStyle($bottomColor, $leftColor, $rightColor, $topColor) {
    border-bottom-color: $bottomColor;
    border-left-color: $leftColor;
    border-right-color: $rightColor;
    border-top-color: $topColor;
    border-style: solid;
    border-width: 10px;
    height: 0px;
    width: 0px;
}

@mixin arrowPosition($bottom, $left, $right, $top) {
    bottom: #{ $bottom };
    left: #{ $left };
    position: absolute;
    right: #{ $right };
    top: #{ $top };
}

#datatable-tooltip-container {
    margin: auto;
    position: absolute;
    width: $arrow-width;
    z-index: 99;

    .arrow-left-up {
        @include arrowPosition('', 0px, 0px, -$arrow-height);
        @include arrowStyle($arrow-background-color, transparent, transparent, transparent);
    }

    .arrow-right-up {
        @include arrowPosition('', '', 0px, -$arrow-height);
        @include arrowStyle($arrow-background-color, transparent, transparent, transparent);
    }

    .arrow-left-down {
        @include arrowPosition(-$arrow-height, 0px, 0px, '');
        @include arrowStyle(transparent, transparent, transparent, $arrow-background-color);
    }

    .arrow-right-down {
        @include arrowPosition(-$arrow-height, '', 0px, '');
        @include arrowStyle(transparent, transparent, transparent, $arrow-background-color);
    }

    .tooltip-message {
        background-color: #f7f7f7;
        border: 1px solid gray;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        font-size: 10px;
        letter-spacing: 2px;
        line-height: 2;
        padding: 15px;
        position: relative;
        text-align: center;
        width: $arrow-width;
    }
}