<div *ngIf="data?.visible" id="datatable-popup-wrapper">
    <div id="datatable-popup-container">
        <h2>
            <span [ngSwitch]="data?.type">
                <i *ngSwitchCase="dataTablePopupType.Confirmation" class="fa fa-info-circle" aria-hidden="true"></i>
                <i *ngSwitchCase="dataTablePopupType.Failure" class="fa fa-times-circle-o" aria-hidden="true"></i>
                <i *ngSwitchCase="dataTablePopupType.Successful" class="fa fa-check-circle-o" aria-hidden="true"></i>
                <i *ngSwitchSDefault class="fa fa-info-circle"></i>
            </span>
            {{ data?.heading }}
            <span class="close-popup-icon" (click)="onCloseDataTablePopup()">&#10006;</span>
        </h2>
        <div class="popup-message">
            <span>{{ data?.message }}</span>
        </div>
        <div [ngSwitch]="data?.action">
            <div *ngSwitchCase="dataTableToolbarActionType.Download" class="export-file">
                <div class="export-file-type">
                    <div>File type: <span class="asterisk">*</span></div>
                    <select #exportFileType class="datatable-export-option">
                        <option selected value="{{ dataTableExportType.Excel }}">Excel</option>
                        <option value="{{ dataTableExportType.PDF }}">PDF</option>
                    </select>
                </div>
                <div class="export-file-name">
                    <div>File name: <span class="asterisk">*</span></div>
                    <input #exportFileName type="text" id="datatable-export-file-name" maxlength="50">
                    <small class="error-message"></small>
                </div>
                <div class="export-date-range">
                    <div>Date range: <span class="asterisk">*</span></div>
                    <div class="date-control-container">
                        <div>
                            <input #exportStartDate type="text" id="start-export-date" placeholder="MM/dd/yyyy">
                            <label for="start-export-date">Start date</label>
                        </div>
                        <div>—</div>
                        <div>
                            <input #exportEndDate type="text" id="end-export-date" placeholder="MM/dd/yyyy">
                            <label for="end-export-date">End date</label>
                        </div>
                    </div>
                    <small class="error-message">{{ dateRangeValidationError }}</small>
                </div>
            </div>
        </div>
        <div *ngIf="data?.type === dataTablePopupType.Confirmation" class="popup-action-container">
            <input type="button" value="Proceed" (click)="onProceedWithDataTablePopupAction()">
            <input type="button" value="Cancel" (click)="onCloseDataTablePopup()">
        </div>
    </div>
</div>