<div #dataTable id="datatable{{ randomIndex }}" class="datatable" [ngStyle]="{ 'height': height }">
    <div *ngIf="isLoading" class="spinner">
        <img src="assets/images/spinner.gif" alt="loading-spinner">
    </div>
    <div class="datatable-main-section">
        <div class="datatable-frozen-area">
            <div class="datatable-header-wrapper">
                <div class="datatable-header-container"
                    [ngStyle]="{ 'display': columnResponsive ? 'flex' : 'inline-flex' }">
                    <div class="action-container">
                        <input type="checkbox" id="datatable-select-all-checkbox"
                            (change)="onSelectDataTableSelectAll($event)">
                    </div>
                    <div title="{{ dtHeader?.title }}" class="datatable-header custom-header-style"
                        [ngStyle]="{ 'width': columnResponsive ? responsiveColumnWidth : dtHeader?.columnWidth }"
                        *ngFor="let dtHeader of frozenHeader; let i = index"
                        (click)="onApplySort($event, dtHeader?.propertyName, dtHeader?.type)">
                        <div class="header-name">{{ dtHeader?.title }}</div>
                        <div class="sort-icon-container">
                            <i *ngIf="sortFields[dtHeader?.propertyName] === 0 || sortFields[dtHeader?.propertyName] === -1" class="ascending-arrow"></i>
                            <i *ngIf="sortFields[dtHeader?.propertyName] === 0 || sortFields[dtHeader?.propertyName] === 1" class="descending-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="datatable-filter-wrapper hide-header-horizontal-scrollbar">
                <div class="datatable-filter-container"
                    [ngStyle]="{ 'display': columnResponsive ? 'flex' : 'inline-flex', 'width': globalFilter ? '100%' : 'auto' }">
                    <div class="action-container" [ngStyle]="{ 'width': globalFilter ? '0px' : '30px' }"></div>
                    <ng-template *ngIf="globalFilter; else columnFilter"></ng-template>
                    <ng-template #columnFilter>
                        <div class="column-filter-container"
                            [ngStyle]="{ 'width': columnResponsive ? responsiveColumnWidth : dtHeader?.columnWidth }"
                            *ngFor="let dtHeader of frozenHeader; let i = index">
                            <input type="text" *ngIf="columnFilter" id="datatable-column-filter-{{ i + 1 }}" 
                                [attr.maxlength]="filterTextLimit" placeholder="Search" 
                                (keyup)="onApplySearch($event, dtHeader?.propertyName)">
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="datatable-body forzen-area-datatable-body hide-filter-horizontal-scrollbar"
                [ngStyle]="{ 'height': verticalScrollableRegion }"
                (scroll)="onApplyVirtualScrolling($event)">
                <div class="datatable-row-container">
                    <div id="frozen-area-datatable-row-{{ dtRow?.Index }}" class="datatable-row datatable-row-{{ dtRow?.Index }} custom-row-style" 
                        appDataTableRowHover [hoverColor]="rowStyle.hoverColor"
                        [ngStyle]="{ 'display': columnResponsive ? 'flex' : 'inline-flex' }"
                        [ngClass]="{ 'selected-row': dtRow?.RowSelected }"
                        *ngFor="let dtRow of dataToDisplay; let i = index" (click)="onSelectDataTableRow($event)">
                        <div class="action-container">
                            <input type="checkbox" id="datatable-checkbox-{{ dtRow?.Index }}"
                            [ngStyle]="{ 'visibility': checkboxSelection ? 'visible': 'hidden' }">
                        </div>
                        <div title="{{ dtRow[dtHeader?.propertyName] }}" class="datatable-row-data"
                            [ngStyle]="{ 'width': columnResponsive ? responsiveColumnWidth : dtHeader?.columnWidth }"
                            *ngFor="let dtHeader of frozenHeader; let j = index">
                            {{ dtRow[dtHeader?.propertyName] }}
                        </div>
                    </div>
                    <div *ngIf="dataToDisplay && dataToDisplay.length === 0" class="background-screen"></div>
                </div>
            </div>
        </div>
        <div *ngIf="scrollableHeader && scrollableHeader.length > 0" class="datatable-scrollable-area"
            [ngStyle]="{ 'width': columnResponsive ? '100%' : scrollableAreaWidth }">
            <div class="datatable-header-wrapper">
                <div class="datatable-header-container"
                    [ngStyle]="{ 'display': columnResponsive ? 'flex' : 'inline-flex' }">
                    <div title="{{ dtHeader?.title }}" class="datatable-header custom-header-style"
                        [ngStyle]="{ 'width': columnResponsive ? responsiveColumnWidth : dtHeader?.columnWidth }"
                        *ngFor="let dtHeader of scrollableHeader; let i = index"
                        (click)="onApplySort($event, dtHeader?.propertyName, dtHeader?.type)">
                        <div class="header-name">{{ dtHeader?.title }}</div>
                        <div class="sort-icon-container">
                            <i *ngIf="sortFields[dtHeader?.propertyName] === 0 || sortFields[dtHeader?.propertyName] === -1" class="ascending-arrow"></i>
                            <i *ngIf="sortFields[dtHeader?.propertyName] === 0 || sortFields[dtHeader?.propertyName] === 1" class="descending-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="datatable-filter-wrapper hide-header-horizontal-scrollbar">
                <div class="datatable-filter-container"
                    [ngStyle]="{ 'display': columnResponsive ? 'flex' : 'inline-flex', 'width': globalFilter ? '100%' : 'auto' }">
                    <div *ngIf="globalFilter; else columnFilter" class="global-filter-container">
                        <input type="text" id="datatable-global-filter" [attr.maxlength]="filterTextLimit" placeholder="Search"
                        (keyup)="onApplySearch($event)">
                    </div>
                    <ng-template #columnFilter>
                        <div class="column-filter-container"
                            [ngStyle]="{ 'width': columnResponsive ? responsiveColumnWidth : dtHeader?.columnWidth }"
                            *ngFor="let dtHeader of scrollableHeader; let i = index">
                            <input type="text" id="datatable-column-filter-{{ i + 1 }}" [attr.maxlength]="filterTextLimit"
                                placeholder="Search" (keyup)="onApplySearch($event, dtHeader?.propertyName)">
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="datatable-body scrollable-area-datatable-body  hide-filter-horizontal-scrollbar" [ngStyle]="{ 'height': verticalScrollableRegion }"
                (scroll)="onApplyVirtualScrolling($event)">
                <div class="datatable-row-container">
                    <div id="scrollable-area-datatable-row-{{ dtRow?.Index }}" class="datatable-row datatable-row-{{ dtRow?.Index }} custom-row-style"
                        appDataTableRowHover [hoverColor]="rowStyle.hoverColor"
                        [ngStyle]="{ 'display': columnResponsive ? 'flex' : 'inline-flex' }"
                        [ngClass]="{ 'selected-row': dtRow?.RowSelected }"
                        *ngFor="let dtRow of dataToDisplay; let i = index" (click)="onSelectDataTableRow($event)">
                        <div title="{{ dtRow[dtHeader?.propertyName] }}" class="datatable-row-data"
                            [ngStyle]="{ 'width': columnResponsive ? responsiveColumnWidth : dtHeader?.columnWidth }"
                            *ngFor="let dtHeader of scrollableHeader; let j = index">
                            {{ dtRow[dtHeader?.propertyName] }}
                        </div>
                    </div>
                    <div *ngIf="dataToDisplay && dataToDisplay.length === 0" class="background-screen"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="datatable-footer">
        <div *ngIf="pagination" class="pagination-tab-container">
            <span id="previous-pagination-arrow" class="pagination-navigation"
                (click)="onChangePaginationSlot(currentPaginationSlot?.slot - 2)">&#9664;
            </span>
            <ng-container *ngFor="let paginationTab of currentPaginationSlot?.data; let i = index">
                <span id="pagination-tab-{{ paginationTab?.index }}" class="pagination-tab"
                    [ngClass]="{ 'highlight-pagination-tab': paginationTab?.index === 1 }"
                    (click)="onSelectPaginationTab($event, i)">{{ paginationTab?.index }}
                </span>
            </ng-container>
            <span id="next-pagination-arrow" class="pagination-navigation"
                (click)="onChangePaginationSlot(currentPaginationSlot?.slot)">&#9654;
            </span>
        </div>
    </div>
</div>
